<h1>{{heading}}</h1>

<div class="mb-3 d-flex gap-3">
    <input type="email" placeholder="Email" class="form-control" [(ngModel)]="personalData.email">
    <input type="text" placeholder="Registration Number" class="form-control" [(ngModel)]="personalData.registrationNumber">
</div>

<div class="mb-3 d-flex gap-3">
    <input type="text" placeholder="Address" class="form-control" [(ngModel)]="personalData.address">
</div>

<div class="mb-3 d-flex gap-3">
    <input type="text" placeholder="LinkedIn" class="form-control" [(ngModel)]="personalData.linkedIn">
    <input type="text" placeholder="Website" class="form-control" [(ngModel)]="personalData.website">
</div>

<div class="mb-3 d-flex gap-3">
    <textarea placeholder="Summary" class="form-control" [(ngModel)]="personalData.summary"></textarea>
</div>
<input type="file" name="" id="" accept="image/*" (change)="onImageUpload($event)">

<button class="btn btn-success mt-2 mb-4 d-block" (click)="uploadImage()">Upload Image</button>

<div class="d-flex gap-2">
    <button class="btn btn-primary" matStepperPrevious>Back</button>
    <button class="btn btn-primary" matStepperNext>Save & Next</button>
</div>