.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    width: 100%;

    .login-body {
        min-width: 450px;
        border-radius: 10px;
        box-shadow: 0 0 10px #00000030;
        padding: 30px;
    }

    .error {
        font-size: 13px;
    }

    .input-error {
        font-size: 10px;
    }

    a {
        text-decoration: none;
    }
}