<div class="container">
    <div class="login-body">
        <p class="text-center h1 mb-3">Forgot Password</p>
        <div class="mb-3">
            <input type="email" id="email" placeholder="Email" class="form-control" [(ngModel)]="forgotPasswordData.email">
            <p class="text-danger input-error" *ngIf="!forgotPasswordData.email && submitted">Email is required</p>
        </div>
        <div class="mb-3">
            <input type="password" id="password" placeholder="Old Password" class="form-control" [(ngModel)]="forgotPasswordData.oldPassword">
            <p class="text-danger input-error" *ngIf="forgotPasswordData.oldPassword.length <= 8 && submitted">Password should be greater than 8 characters</p>
        </div>

        <div class="mb-3">
            <input type="password" id="password" placeholder="New Password" class="form-control" [(ngModel)]="forgotPasswordData.oldPassword">
            <p class="text-danger input-error" *ngIf="forgotPasswordData.oldPassword.length <= 8 && submitted">Password should be greater than 8 characters</p>
        </div>

<div class="d-flex justify-content-end gap-2">
    <button class="btn btn-success" [routerLink]="'/login'">Login</button>
    
            <button class="btn btn-primary">Change Password</button>
</div>
    </div>
</div>